<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="me.phh.AdbSsh"
      android:versionCode="3"
      android:versionName="1.2">

	<uses-sdk android:minSdkVersion="12" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="Main"
			android:label="AdbSSH">
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>

			<meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter" />
		</activity>

		<activity android:name="Settings"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name="AdbService" />
		<service android:name="SshService" />
    </application>
</manifest>
